*{
  margin: 0;
  padding: 0;
}

#home-content {
  width: 100vw;
  height: 100vh;
  color: #f0ead6;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("./images/burger.jpg");
  background-size: cover;
}

.home-header {
  width: 690px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-tab-container {
  display: flex;
  gap: 15px;
}

.tab-one:hover,
.tab-two:hover,
.tab-three:hover,
.tab-one:focus,
.tab-two:focus,
.tab-three:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.home-logo {
  width: 30px;
  height: 30px;
  background-image: url("./images/mcdonalds.png");
  background-size: cover;
}

.home-hero {
  height: calc(100vh - 50px);
  width: 690px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-line-one,
.home-line-two {
  font-size: 72px;
}
.home-line-three {
  padding-top: 30px;
}